[tool.poetry]
name = "readii"
version = "1.8.0"
description = "A package to extract radiomic features!"
authors = ["Katy Scott"]
license = "MIT"
readme = "README.md"

[tool.poetry.dependencies]
python = ">=3.9,<4"
simpleitk = ">=2.3.1"
pydicom = ">=2.3.1"
dicom-parser = ">=1.2.3"
matplotlib = ">=3.8.2"
med-imagetools = "^1.2.0.2"
pyarrow = "^15.0.0"
# pyradiomics = {git = "https://github.com/AIM-Harvard/pyradiomics.git"}
pyradiomics = "3.0.1a3"

[tool.poetry.dev-dependencies]

[tool.poetry.group.dev.dependencies]
pytest = "^7.4.3"
pytest-cov = "^4.1.0"
pytest-xdist = "^3.5.0"
jupyter = "^1.0.0"
myst-nb = { version = "^1.0.0", python = "^3.9" }
sphinx-autoapi = "^3.0.0"
sphinx-rtd-theme = "^1.3.0"
python-semantic-release = "^8.5.2"

[tool.semantic_release]
version_variables = ["src/readii/__init__.py:__version__"]
version_toml = ["pyproject.toml:tool.poetry.version"]      # version location
changelog_file = "CHANGELOG.md"                            # changelog file
dist_path = "dist/"                                        # where to put dists
upload_to_release = true                                   # auto-create GitHub release
remove_dist = false                                        # don't remove dists
patch_without_tag = true                                   # patch release by default

[tool.semantic_release.branches.main]
match = "(main|master)"

[tool.poetry.scripts]
readii = "readii.pipeline:main"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
